<% provide(:title, 'memos') %>
<div class="container">
  <h1 class="title">メモ入力フォーム</h1><hr>
  <%= form_for (:memos),{controller: 'memo',method:'create'} do |f| %>
    <%= f.text_area :memo, class: 'form-control', placeholder: "memo" %>
    <%= f.hidden_field :record_id, :value => @record_id %>
    <%= f.submit "メモを作成", class: "btn btn-create" %>
  <% end %>
</div>