
body{
    font-size: 20px;
}

img.profile_button:hover{
	opacity:0.7;
	cursor: pointer;
}

img.profile_button:active{
    position: relative;
    top:3px;
}
.bar{
    max-width: 600px;
    width: 100%;
    margin: 1em;
    color: white;
    padding: 0.25em;
    animation: bar-animation 1 2s;
    background: #0091EA;
  }
  .bar1{
    max-width: 70%;
  }
@keyframes bar-animation{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }
img.profile_button{
  border-radius: 8px;
  overflow: hidden;
  font-weight: bold;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 4px #b5b5b5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover {
  background-color: #d4f0fd;
}

table th, table td {
  padding: 8px;
}

table th:last-child,
table td:last-child {
  text-align: right;
}

p.title {
  width: 250px;
  height: 30px;
  font-family: HiraKakuProN-W6;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  
  width: 73px;
  height: 193.3px;
  border-radius: 16px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
.balloon2-left p {
  margin: 0;
  padding: 0;
}

.exp {
  width: 145px;
  height: 22px;
  font-family: HiraKakuProN-W3;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #707070;

}

p.goal {
  width: 100px;
  height: 20px;
  font-family: HiraKakuProN-W6;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #3a3a3a;
}

p.task {
  width: 100px;
  height: 20px;
  font-family: HiraKakuProN-W6;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #3a3a3a;
}

.flex > li {
  width: 125px;
  height: 80px;
  display: -webkit-flex;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: inline-flex;

  color: #ffffff;

  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

.logo {
  width: 180px;
  margin: 3%;
  
}