.tag-buttons {
  display: flex;
  flex-wrap: wrap;
}

.tag-button {
  border: solid 2px;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  margin: .25em;
  padding: .25em 1em;
}

.tag-button:not([data-is-selected="true"]) {
  background-color: white;
  border-color: gray;
  color: gray;
}

.tag-button[data-is-selected="true"] {
  background-color: var(--dark);
  border-color: var(--dark);
  color: white;
}

.tag-button:hover {
  background-color: gray;
  border-color: gray;
  color: white;
}
