// Place all the styles related to the record controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div#calendar{
    width: 80%;
    //height: 20%;
    max-width: 620px;
    //max-height: 400px;
    margin: 0 auto;
    .fc-basic-view .fc-body .fc-row {
        min-height: 0.05em !important;
    }
    
    .fc button {
        height: 0.5em !important;
        padding: 0 .1em !important;
    
        /* text & cursor */
        font-size: 0.8em !important;
    }
}


.profile-card {
    border: gray solid 1px;
    border-radius: 6px;
    color: var(--gray);
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
  }

.profile-card-contents {
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .profile-card > * {
    margin: 8px;
  }
  
  .profile-card > img {
    border: gray solid 1px;
    width: 100px;
    height: 100px;
  }
  
  .profile-card-main {
    flex-grow: 1;
  }
  
  .profile-card-user-name {
    font-weight: bold;
    font-size: 24px;
  }
  
  .profile-card-goal {
    font-size: 1em;
  }
  
  .profile-card-task {
    text-align: right;
  }
  
  .profile-card-score-label {
    font-size: 2em;
  }
  
  .profile-card-score-value {
    font-size: 1.5em;
  }
  
  .profile-card-daily-task {
    font-size: 1em;
  }

  .profile-card-date {
    font-size: 0.75em;
  }

  .memo-content {
    font-size: 1em;
  }

  .memo-like {
    font-size: 0.75em;
  }

  .profile-card-tag {
    font-size: 1em;
  }