<% provide(:title, "Edit user") %>
<div class="container">
<h1 class="title">目標・やることの設定</h1><hr>

<div class="row">
  <div class="Edit_form">
    <%= form_for(@profile) do |f| %>
      <p>目標     <%= f.text_field :goal %></p>
      <p>やること <%= f.text_field :daily_task %></p>
      <%= f.submit "保存", class: "btn btn-login" %>
    <% end %>
  </div>
</div>
</div>

<style>
  .row {
    margin: 15px 30px;
  }
</style>